<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.asgab.repository.BoxServiceMapper">

	<sql id="box_service_columns">
		user_id as userId, address_id as addressId, product_id as productId, scale_id as scaleId, cycle, flag,
		start_time as startTime, end_time as endTime, belong_no as belongNo, create_time as createTime, update_time as updateTime, status
	</sql>

	<sql id="box_service_columns_for_join">
		a.user_id as userId, a.address_id as addressId, a.product_id as productId, a.scale_id as scaleId, a.cycle, a.flag,
		a.start_time as startTime, a.end_time as endTime, a.belong_no as belongNo, a.create_time as createTime, a.update_time as updateTime, a.status
	</sql>

	<select id="get" parameterType="long" resultType="BoxService">
		select a.id, <include refid="box_service_columns_for_join"/>,
				b.name as contactName, b.phone as contactPhone, b.email as contactEmail,
		        c.address as address, c.area_id as areaId
		from ss_box_service a left join ss_user b on a.user_id = b.id left join ss_address c on a.address_id = c.id
		where a.id = #{id}
	</select>

	<select id="getProductIdsByUserId" parameterType="long" resultType="java.lang.Long">
		select product_id from ss_box_service where status NOT in(0) and user_id = #{userId}
	</select>

	<select id="search" parameterType="map" resultType="BoxService">
		select a.id, <include refid="box_service_columns_for_join"/>, b.name as contactName
		from ss_box_service a left join ss_user b on a.user_id = b.id
		where a.status NOT IN(0)
		<if test="productId != null and productId != ''">
			and a.product_id = #{productId}
		</if>
		<if test="userId != null and userId != ''">
			and a.user_id = #{userId}
		</if>
		<if test="contactName != null and contactName != ''">
			and b.`name` like "%"#{contactName}"%"
		</if>
		<if test="sort != null and sort != ''">
			order by ${sort}
		</if>
	</select>
	
	<select id="count" parameterType="map" resultType="int">
		select count(1)
		from ss_box_service a left join ss_user b on a.user_id = b.id
		where a.status NOT IN(0)
		<if test="productId != null and productId != ''">
			and a.product_id = #{productId}
		</if>
		<if test="userId != null and userId != ''">
			and a.user_id = #{userId}
		</if>
		<if test="contactName != null and contactName != ''">
			and b.`name` like "%"#{contactName}"%"
		</if>
	</select>

	<insert id="save" parameterType="BoxService" useGeneratedKeys="true" keyProperty="id">
		insert into ss_box_service (user_id, address_id, product_id, scale_id, cycle, flag, start_time, end_time, belong_no, create_time, update_time)
		values (#{userId}, #{addressId}, #{productId}, #{scaleId}, #{cycle}, #{flag}, #{startTime}, #{endTime}, #{belongNo}, now(), now())
	</insert>
	
	<update id="update" parameterType="BoxService">
		update ss_box_service set
	  	user_id = #{userId},
		address_id = #{addressId},
		product_id = #{productId},
		scale_id = #{scaleId},
		cycle = #{cycle},
		flag = #{flag},
		start_time = #{startTime},
		end_time = #{endTime},
		belong_no = #{belongNo},
		create_time = #{createTime},
		update_time = #{updateTime},
		status = #{status}
		where id = #{id}
	</update>

	<select id="getExpireService" resultType="BoxService">
		select id, <include refid="box_service_columns"/>
		from ss_box_service where status = 1 and end_time &lt;= NOW()
	</select>

</mapper> 
